body {
    background-color: #000000;
    color: #fdffff;
    width:500px;
    margin-right:auto;
    margin-left:auto;
  }
  button {
    padding: 2px 20px;
    background-color: #ca0b0b;
    border-style: none;
  }
  input{
      height:20px ;
  }
